In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Olami@localhost:3306/united_nations

'Connected: root@united_nations'

In [3]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

In [ ]:
--What is the total number of entries in the dataset?

In [4]:
%%sql
SELECT COUNT(*) AS total_entries
FROM Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(1048,)]

In [ ]:
--What are the earliest and latest years for which we have data?¶

In [5]:
%%sql
SELECT 
    MIN(Time_period) AS earliest_year,
    MAX(Time_period) AS latest_year
FROM Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(2015, 2020)]

In [ ]:
--How many countries are included in this dataset?¶

In [ ]:
%%sql
SELECT COUNT(DISTINCT Country_name) AS total_countries
FROM Access_to_Basic_Services;